<div class="row individualCustomerDiv">
    <div class="col-md-4">
        <div class="form-group requiredFormGroup">
            <label for="projectId">Project</label>
            <select class="form-control  border-danger" id="projectId">
                <option value="0">Select Project</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="houseId">House</label>
            <select class="form-control select2 border-danger" id="houseId">
                <option value="0">Select House</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="billDetailId">Unpaid Month</label>
            <select class="form-control select2 border-danger" id="billDetailId">
                <option value="0">Select Month</option>
            </select>
        </div>
    </div>
</div>
