<div class="card customerRequestForm individualCustomerDiv billGenerateForm customerBillForm">
    <div class="card-header">
        Customer Information
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="houseTypeId">HouseType</label>
                    <input class="form-control" id="houseTypeId" type="text" readonly />
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="monthlyBillId">Monthly Rent</label>
                    <input class="form-control" id="monthlyRentId" type="text" readonly />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Renter Name</label>
                    <input class="form-control" id="renterNameId" type="text" readonly />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="renterPhoneNoId">Renter Phone No</label>
                    <input class="form-control" id="renterPhoneNoId" type="text" readonly />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="renterNId">Renter NID</label>
                    <input class="form-control" id="renterNId" type="text" readonly />
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="form-group">
                    <label for="connectionMonthId">Connection Month</label>
                    <input class="form-control" id="connectionMonthId" type="text" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="caretakerNameId">Caretaker</label>
                    <input class="form-control" id="caretakerNameId" type="text" readonly />
                </div>
            </div>
        </div>
       

    </div>
</div>
