
<section>
        <div class="card">
            @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4><i class="ft-zoom-in"></i> Dish Customer Request</h4>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-warning pull-right menuBtn" id="btnClearId">
                            <i class="ft-x"></i> Clear
                        </button>
                        <button type="button" id="btnSaveId" class="btn btn-success pull-right menuBtn">
                            <i class="fa fa-check-square-o"></i> Save
                        </button>
                        <button type="button" id="btnListId" class="btn btn-info pull-right menuBtn">
                            <i class="fa fa-list"></i> Request List
                        </button>
                        <button type="button" id="btnCreateId" class="btn btn-info pull-right menuBtn">
                            <i class="fa fa-user"></i> Add New Request
                        </button>
                    </div>
                </div>



                @Html.Partial("~/Views/Shared/_CustomerSelect.cshtml")
                <div id="customerRequestListId">
                    <table id="customerRequestListTableId" class="table table-info table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Dlt</th>
                                <th>Serial </th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Type</th>
                                <th>Charge</th>
                                <th>New Bill</th>
                                <th>Month</th>
                                <th>Year</th>
                                <th>Remarks</th>
                            </tr>

                        </thead>

                    </table>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/_DishCustomerRequest.cshtml")
        @Html.Partial("~/Views/Shared/_DishCustomerInfo.cshtml");
</section>
<script src="~/Scripts/Application_Scripts/DishCustomerRequest.js"></script>

