
<section>
    <div class="card">
        @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4><i class="ft-zoom-in"></i> House Renter Request</h4>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning pull-right menuBtn" id="btnClearId">
                        <i class="ft-x"></i> Clear
                    </button>
                    <button type="button" id="btnSaveId" class="btn btn-success pull-right menuBtn">
                        <i class="fa fa-check-square-o"></i> Save
                    </button>
                    <button type="button" id="btnListId" class="btn btn-info pull-right menuBtn">
                        <i class="fa fa-list"></i> Request List
                    </button>
                    <button type="button" id="btnCreateId" class="btn btn-info pull-right menuBtn">
                        <i class="fa fa-user"></i> Add New Request
                    </button>
                </div>
            </div>
            <div class="mt-1" id="customerRequestListId" style="display:none;">
                <table id="customerRequestListTableId" class="table table-info table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Dlt</th>
                            <th>HouseName </th>
                            <th>RenterName</th>
                            <th>NID</th>
                            <th>Type</th>
                            <th>Charge</th>
                            <th>New Rent</th>
                            <th>Month</th>
                            <th>Year</th>
                            <th>Remarks</th>
                        </tr>

                    </thead>

                </table>
            </div>
            <div class="row customerRequestForm" >
                <div class="col-md-4">
                    <div class="form-group requiredFormGroup">
                        <label for="projectId">Project</label>
                        <select class="form-control select2  border-danger" id="projectId">
                            <option value="0">Select Project</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="houseId">House</label>
                        <select class="form-control select2 border-danger" id="houseId">
                            <option value="0">Select House</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_HouseRenterRequest.cshtml")
    <input type="hidden" id="renterHouseId" />
    @Html.Partial("~/Views/Shared/_HouseRenterInfo.cshtml")
</section>
<script src="~/Scripts/Application_Scripts/HouseRenterRequest.js"></script>