.profile-card-with-stats .btn-float {
  padding: 8px 14px 4px 14px; }

.profile-card-with-cover .card-profile-image {
  position: absolute;
  top: 130px;
  width: 100%;
  text-align: center; }
  .profile-card-with-cover .card-profile-image img.img-border {
    border: 5px solid #fff; }

.profile-card-with-cover .profile-card-with-cover-content {
  padding-top: 4rem; }

#user-profile .profile-with-cover .profil-cover-details {
  position: absolute;
  margin-top: 210px; }
  #user-profile .profile-with-cover .profil-cover-details .profile-image img.img-border {
    border: 5px solid #fff; }
  #user-profile .profile-with-cover .profil-cover-details .card-title {
    color: #FFFFFF;
    text-shadow: 1px 1px 4px #1b2942; }

#user-profile .navbar-profile {
  margin-left: 130px; }

#users-contacts .delete i, #users-contacts .favorite i {
  font-size: 1.25rem;
  cursor: pointer; }

#users-contacts .favorite.active {
  color: #ffa87d; }

.app-content .sidebar-toggle {
  position: absolute;
  cursor: pointer;
  margin-top: 4px; }

.app-content .content-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 2;
  visibility: hidden; }
  .app-content .content-overlay.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6); }

@media only screen and (max-width: 992px) {
  .app-content .bug-list-search form {
    margin-left: 3rem; }
  .app-content .sidebar-left {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    transition: 300ms ease all;
    display: none; }
    .app-content .sidebar-left.show {
      display: block;
      position: fixed;
      top: 56px;
      width: 300px;
      z-index: 1036;
      left: 0;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      height: -webkit-calc(100% - 56px);
      height: -moz-calc(100% - 56px);
      height: calc(100% - 56px);
      -webkit-transition: 300ms ease all;
      -o-transition: 300ms ease all;
      -moz-transition: 300ms ease all;
      transition: 300ms ease all;
      overflow-y: scroll; }
      .app-content .sidebar-left.show .card {
        margin-bottom: 0; } }

/* @media only screen and (max-width: 767px) {
    .app-content{
        .sidebar-left{
            &.show{
                z-index: 1032;
            }
        }
    }
} */
